@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */

  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

body {
  max-width: 1080px;
  margin: auto;
}
/* 
  font-family: "Raleway", sans-serif;

  Les couleurs de la charte sont le bleu (#0065FC), une version plus
  claire de ce bleu (#DEEBFF) et le gris pour le fond (#F2F2F2).

*/
/*logo*/
header {
  position: relative;
}
#section1 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 60px;
}
#logo img {
  width: 120px;
  height: 59px;
}
#logo {
  width: 120px;
  height: 59px;
  margin-top: 60px;
}
.clogo {
  display: flex;
  width: 72%;
}
.entete {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: auto;
  height: 90px;
  align-items: center;
  position: relative;
}
#nav {
  display: flex;
}
/* barre de nav */

.lien1,
.lien2 {
  padding-top: 40px;
}
.textlien:hover {
  border-top: 2px solid #0065fc;
  padding-top: 38px;
  color: #0065fc;
}
.textlien2:hover {
  border-top: 2px solid #0065fc;
  padding-top: 38px;
  color: #0065fc;
}
.textlien2 {
  display: flex;
  margin-top: -40px;
  padding-top: 38px;
  color: #000;
  width: 140px;
  padding-left: 40px;
}
.textlien {
  display: flex;
  margin-top: -40px;
  padding-top: 38px;
  color: #000;
  width: 140px;
  padding-left: 17px;
}
/* titre de la page */

.titre h1 {
  margin-top: 40px;
  font-size: 19px;
  margin-bottom: -10px;
}
.titre p {
  color: rgba(0, 0, 0, 0.7);
}
/* formulaire */

form {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  font-weight: bold;
}
.loc {
  height: 44px;
  width: 44px;
  background: #f2f2f2;
  padding-left: 17px;
  padding-top: 14px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-top: 16px;
}
#rechercher {
  font-weight: bold;
  height: 44px;
  border: 1px solid #f2f2f2;
}
.button {
  background: #0065fc;
  color: #fff;
  border-color: rgba(0, 101, 252, 0);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  height: 44px;

  position: absolute;
}
/*filtres*/

.filtres {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}
/* onglet 1/3 */
.onglet {
  margin-left: 20px;
  background: #fff;
  width: 150px;
  height: 40px;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  font-size: 13px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.filtres h3 {
  margin-top: 11px;
}
/* onglet 4*/
#onglet {
  margin-left: 20px;
  background: #fff;
  width: 185px;
  height: 40px;
  border-radius: 150px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* logo chien*/
.chien {
  height: 40px;
  width: 40px;
  background: #deebff;
  color: #0065fc;
  padding-left: 12px;
  padding-top: 11px;

  border-radius: 20px;
}
.animaux {
  margin-right: 9%;
  color: #000;
}
/*logo coeur*/
.coeur {
  height: 40px;
  width: 40px;
  background: #deebff;
  color: #0065fc;
  padding-left: 14px;
  padding-top: 14px;
  margin-left: -24px;
  border-radius: 20px;
}
.romantique {
  padding-left: 10px;
  color: #000;
}
/*logo famille*/
.petitonglet {
  margin-left: 20px;
  background: #fff;
  width: 125px;
  height: 40px;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  font-size: 13px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.famille {
  height: 40px;
  width: 40px;
  background: #deebff;
  color: #0065fc;
  padding-left: 15px;
  padding-top: 13px;
  border-radius: 20px;
  margin-left: -24px;
}

.familial {
  padding-left: 10px;
  color: #000;
}
/* logo economique*/

.billet {
  height: 40px;
  width: 40px;
  background: #deebff;
  color: #0065fc;
  padding-left: 11px;
  padding-top: 13px;
  border-radius: 20px;
  margin-left: -20px;
}
.economie {
  padding-left: 10px;
  color: #000;
}

.searchmini {
  display: none;
}

.info {
  display: flex;
  align-items: center;
}
#ilogo {
  display: flex;
  width: 25px;
  height: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: #0065fc;
  border-radius: 20px;
  padding-left: 8px;
  font-size: 13px;
  padding-top: 4px;
}
#texte {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.8);
}
/*main hebergements a marseille*/

#marseille {
  width: 60%;
  height: 450px;
  background: #f2f2f2;
  border-radius: 20px;
  margin-left: 30px;
}
#titrecard {
  width: 80%;
  margin-left: 35px;
}
#titrecard h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
#marseille .vignettes {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  justify-content: center;
  align-content: center;
}
.marseille {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 28%;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 50px;
  height: 150px;
  margin: 11px;
  box-shadow: 0px 10px 15px 5px rgb(228 227 227);
}
.hebergement img {
  border: 4px solid #fff;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 90px;
  width: 100%;
}
.text h4 {
  margin: 0;
  padding-left: 17px;
  color: #000;
}
.text p {
  margin-top: 4px;
  padding-left: 17px;
  color: #000;
}
/*etoiles cards*/
.etoile145bleu {
  position: relative;
  margin-top: -7px;
  margin-left: 16px;
  color: #0065fc;
}
.etoile1 {
  color: #f2f2f2;
  position: relative;
  margin-left: 83px;
  margin-top: -14px;
}

.etoile2bleu {
  position: relative;
  margin-top: -7px;
  margin-left: 16px;
  color: #0065fc;
}
.etoile2 {
  color: #f2f2f2;
  position: relative;
  margin-left: 68px;
  margin-top: -13px;
}
.etoile3et6bleu {
  position: relative;
  margin-top: -7px;
  margin-left: 16px;
  color: #0065fc;
}
.liendubas {
  font-weight: bold;
  color: #000;

  margin-left: 50px;
}
/*populaire*/
#populaires {
  width: 30%;
  height: 450px;
  background: #f2f2f2;
  border-radius: 20px;
  padding-top: 5px;
  display: flex;
  padding-right: 30px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 30px;
  margin-right: 30px;
}

.card2 {
  width: 95%;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 30px;
  height: 109px;
  margin: 6px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 10px 15px 5px rgb(228 227 227);
}
.hebergement2 img {
  border: 3px solid #fff;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 108px;
  width: 100px;
}
.text2 {
  position: absolute;
  margin-left: 110px;
  margin-top: -115px;
  color: #000;
}
.etoilebleu {
  color: #0065fc;
  position: absolute;
  margin-top: 25px;
}
.etoilegrise {
  position: absolute;
  margin-left: 68px;
  color: #f2f2f2;
  margin-top: 25px;
}
.text2 h4 {
  margin-bottom: 0px;
}
.text2 p {
  margin-bottom: 0px;
}
.stats {
  position: absolute;
  margin-left: 230px;
  margin-bottom: 360px;
}

/*activités*/

.port {
  width: 230px;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  height: 400px;
  background: #fff;
  box-shadow: 0px 10px 15px 5px rgb(228 227 227);
}
.port img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 360px;
  width: 230px;
}
.fort {
  width: 230px;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  height: 210px;
  background: #fff;
  box-shadow: 0px 10px 15px 5px rgb(228 227 227);
}
.fort img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 170px;
  width: 230px;
}
.iles {
  width: 230px;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  height: 150px;
  background: #fff;
  box-shadow: 0px 10px 15px 5px rgb(228 227 227);
}
.iles img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 110px;
  width: 230px;
}
.parc {
  width: 230px;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  height: 400px;
  background: #fff;
  box-shadow: 0px 10px 15px 5px rgb(228 227 227);
}
.parc img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 360px;
  width: 230px;
}
.notredame {
  width: 230px;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  height: 150px;
  background: #fff;
  box-shadow: 0px 10px 15px 5px rgb(228 227 227);
}
.notredame img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 110px;
  width: 230px;
}
.longchamp {
  width: 230px;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  height: 210px;
  background: #fff;
  box-shadow: 0px 10px 15px 5px rgb(228 227 227);
}
.longchamp img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 170px;
  width: 230px;
}
.deux,
.quatre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activite {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}
#activite h3 {
  padding-top: 40px;
  margin-left: 30px;
  font-size: 18px;
}
.activite p {
  font-weight: bold;
  color: #000;
  margin-left: 15px;
}

/* footer*/
.piedpage {
  display: flex;
  background: #f2f2f2;
  height: auto;
  width: auto;
  margin-top: 40px;
  flex-wrap: wrap;
  padding-left: 40px;
}
.piedpage a {
  margin-top: 10px;
  color: #000;
}
.propos {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 32%;
}
.noshebergement {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 32%;
}
.assistance {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 32%;
}
/*effet de survol */
.card2:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}
.card:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}
.port:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}
.fort:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}

.iles:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}
.parc:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}

.longchamp:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}
.notredame:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}
.onglet:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}
.petitonglet:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}
#onglet:hover {
  box-shadow: 0px 10px 15px 5px #f2f2f2;
}
/* responsive */

@media screen and (max-width: 992px) {
  .marseille {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  #titrecard {
    margin-left: 55px;
  }
  .liendubas {
    padding-left: 25px;
  }
  .marseille #populaires {
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    align-items: center;
    height: 540px;
  }
  #populaires h3 {
    margin-top: 35px;
    margin-right: 17px;
  }
  .marseille #marseille {
    width: 95%;
    margin: 0;
  }
  .marseille h3 {
    margin-right: 70px;
  }
  #marseille .liendubas {
    margin-left: 27px;
  }
  .marseille .card2 {
    width: 40%;
    align-items: center;
  }
  #populaires .hebergement2 img {
    margin-top: 3px;
    height: 108px;
  }
  .stats {
    margin-top: 18px;
  }
  .activite {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
  }

  .activite .port,
  .activite .parc {
    width: 25%;
    margin-top: 10px;
    height: 158px;
    background: #fff;
    font-size: 12px;
    min-width: 250px;
  }

  .activite .port img,
  .activite .parc img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 118px;
    width: 100%;
  }
  .activite .notredame {
    width: 100%;
    margin-top: 10px;
    height: 158px;
    background: #fff;
    font-size: 12px;
  }
  .activite .fort img,
  .activite .notredame img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 118px;
    width: 100%;
  }
  .activite .fort {
    width: 100%;
    margin-top: 10px;
    height: 158px;
    background: #fff;
    font-size: 12px;
  }
  .activite .longchamp {
    width: 100%;
    margin-top: 10px;
    height: 158px;
    background: #fff;
    font-size: 12px;

    margin-top: 40px;
  }
  .activite .longchamp img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 118px;
    width: 100%;
  }

  .activite .iles {
    width: 100%;
    margin-top: 10px;
    height: 158px;
    background: #fff;
    font-size: 12px;
    margin-top: 40px;
  }
  .activite .iles img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 118px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 352px;
  }

  nav {
    display: flex;
    width: 100%;
  }
  .entete {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 170px;
    min-width: 300px;
  }
  #nav {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .clogo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  #logo img {
    width: 130px;
    height: 70px;
  }
  #logo {
    margin-bottom: -10px;
  }
  .lien1 {
    width: 50%;
    font-size: 18px;
  }
  .lien2 {
    width: 50%;
    font-size: 18px;
  }
  .textlien {
    justify-content: center;
    width: auto;
  }
  .textlien2 {
    justify-content: center;
    padding-left: 0px;
    width: auto;
  }
  .titre {
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .titre h3 {
    font-size: 20px;
    text-align: center;
  }
  .titre p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
  }
  #section1 {
    margin-top: -2px;
  }
  #rechercher {
    width: 100%;
    height: 50px;
  }
  .button {
    display: none;
    width: 0px;
  }
  form {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .filtres {
    margin-top: 1px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  .onglet {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    width: 130px;
  }
  #onglet {
    margin-left: 0.1em;
    margin-top: 8px;
  }
  .petitonglet {
    margin-left: 150px;
    position: absolute;
    margin-top: 57px;
    width: 120px;
  }
  .searchmini {
    display: flex;
    width: 50px;
    height: 50px;
    background: #0065fc;
    margin-top: 16px;
    padding-top: 17px;
    padding-left: 17px;
    color: #fff;
    border-radius: 9px;
    position: absolute;
    margin-left: 250px;
  }
  .loc {
    width: 50px;
    height: 50px;
    padding-right: 17px;
  }
  .textlien:hover {
    border-top: none;
    border-bottom: 4px solid #0065fc;
    padding-bottom: 15px;
    color: #0065fc;
  }
  .textlien {
    border-top: none;
    border-bottom: 4px solid #0065fc;
    padding-bottom: 15px;
    border-color: #f2f2f2;
    width: 100%;
  }
  .textlien2:hover {
    border-top: none;
    border-bottom: 4px solid #0065fc;
    padding-bottom: 15px;
    color: #0065fc;
  }
  .textlien2 {
    border-top: none;
    border-bottom: 4px solid #0065fc;
    padding-bottom: 15px;
    border-color: #f2f2f2;
    width: 100%;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 10px;
  }
  #texte {
    width: 60%;
    font-size: 14px;
  }
  .marseille {
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }

  main {
    width: 100%;
  }
  .marseille #populaires {
    width: 100%;
    height: 600px;
    padding-bottom: 60px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
  }
  .marseille {
    width: 100%;
  }
  #titrecard {
    display: flex;
    justify-content: center;
    width: auto;
  }
  #titrecard h3 {
    text-align: center;
  }
  .marseille #marseille {
    background: #fff;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
  }
  .vignettes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  #populaires .hebergement2 img {
    margin-top: 3px;
    height: 138px;
    width: 115px;
  }

  #populaires .card2 {
    width: 52%;
    margin-top: 10px;
    height: 140px;
    background: #fff;
    font-size: 12px;
    min-width: 250px;
  }

  .card2 .text2 {
    display: flex;
    justify-content: flex-start;
    color: #000;
    flex-direction: column;
    min-width: 100px;
    height: 200px;
    margin-top: -150px;
    margin-left: 130px;
  }
  .etoilebleu {
    position: absolute;
    padding-top: 105px;
  }
  .etoilegrise {
    position: absolute;
    padding-top: 105px;
  }
  .card {
    margin-top: 10px;
    background: #fff;
    font-size: 12px;

    width: 250px;
    border-bottom: 2px solid #fff;
  }
  .vignettes {
    width: 100%;
  }
  .stats {
    position: absolute;
    margin-top: -90px;
  }
  .liendubas {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .activite {
    height: 1175px;
    width: 100%;
  }
  .titreactivite h3 {
    display: flex;
    justify-content: center;
    width: auto;
    margin-right: 80px;
  }
  footer {
    width: 100%;
  }
  .piedpage {
    display: flex;
    margin: 0;
    height: 450px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  #activite {
    width: auto;
  }
  #activite h3 {
    display: flex;
    margin-right: 95px;
    justify-content: center;
  }
  .piedpage .propos {
    width: 100%;
  }
  .piedpage .noshebergement {
    width: 100%;
  }
  .piedpage .assistance {
    width: 100%;
  }
  #section1 {
    min-width: 100px;
  }
  header {
    min-width: 280px;
  }
}
